*{
    margin: 0;
    padding:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    background: linear-gradient(45deg, rgb(107, 55, 55), rgb(46, 46, 158));
}
.container{
    width:850px;
    display:flex;
    gap:70px;
    margin: 50px;
    align-items: flex-end;
    background: #fff;
    border-radius: 10px;
    padding:60px 40px;
   
}
.hangman-box img{
   max-width: 270px;
}
.hangman-box h1{
    font-size: 1.45rem;
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
}
.word-display{
   display: flex;
   gap:10px;
   list-style: none;
   align-items: center;
   justify-content: center;
}
.word-display .letter{
    width:28px;
    margin-bottom: 40px;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 3px solid #000;
}
.word-display .letter.guessed{
    border-color: transparent;
    margin: -40px 0 35px;
}

.hint-text {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin:20px;
} 
.guesses-text {
    text-align: center;
}
.game-box h4 {
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 15px;
}
.game-box h4 b{
    font-weight: 600;

}
.game-box .guesses-text b {
    color: #ff0000;
}
.keyboard{
    display: flex;
    flex-wrap: wrap;
    max-width: 450px;
    justify-content: center;
    align-items: center;
    background: lightblue;
    padding:20px;
    border-radius: 10px;
}
.keyboard button{
    display:inline-grid;
  border: none;
  outline: none;
  background-color: rgb(42, 42, 154);
  padding:10px;
  color:#fff;
  margin:5px;
  width: calc(100% 9 - 5px);
height: 30px;
cursor: pointer;
border-radius: 5px;
}
.keyboard button:hover {
    background-color:rgb(109, 109, 181) ;
}

@media screen  and (max-width: 760px){
    body{
        scroll-behavior: smooth;
    }
    .container{
        display: flex;
        margin:20px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
       width: 80%;
    }
    .word-display{
        min-width: 80%;
    }
    
}
